@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

@font-face {
    font-family: 'PFStardust';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    position: relative;
    min-height: 100%;
    margin: 0;
}

body {
    background-color: #FFE3BB;
    min-height: 100%;
}

.main-content {
    text-align: center;
    padding: 50px;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.feature {
    text-align: center;
}

.Stardust {
  font-family: "PFStardust", sans-serif;
  text-transform: none!important;
}

.Pacifico {
  font-family: "Pacifico", sans-serif;
  text-transform: none!important;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.content{
    margin-bottom:100px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.member{
    margin-bottom:100px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    padding-right: 200px;
    padding-left: 200px;
}